
<mat-card class="example-card">
    <mat-card-header>
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_balance
          </mat-icon>
          <br>
        <mat-card-title>{{bank.name}}</mat-card-title>


      </mat-card-header>
    <img mat-card-image src="/assets/bank.jpg" alt="Photo of a bank">
    <mat-card-content>
      <p>
        difficulty
        {{bank.difficulty}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent">Details</button>
    </mat-card-actions>
  </mat-card>
